// main color
$colors: (
	primary: #f16f13,
	secondary: #696969,
);

//text
$text-colors: (
	primary: #231f1f,
	secondary: #696969,
	light: #FFF,
);

$text-sizes: (
	smallest: 10px,
	samll: 14px,
	medium: 16px,
	big: 22px,
	bigger: 32px,
	biggest: 40px,
);

// background colors
$background-color: #FFF;

// gradients
$gradients: (
	primary: linear-gradient(90deg, rgba(255,142,73,1) 0%, rgba(241,111,19,1) 100%)
);

@mixin small {
	@media (max-width: 480px) {
		@content;
	}
}

@mixin medium {
	@media (min-width: 480px) and (max-width: 1200px) {
		@content;
	}
}
