// main color 
$color-primary: #f16f13;
$color-secondary: #696969;

//text color
$text-color-primary: #231f1f;
$text-color-secondary: #696969;
$text-color-light: #FFF;

// background colors
$background-color: #FFF;

// gradients
$gradient-primary: linear-gradient(90deg, rgba(255,142,73,1) 0%, rgba(241,111,19,1) 100%)
